$primary   : #735cdd;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #04030f;
$purple-1  : #F1F0FA;

$blue-1    : #2785f6;
$positive  : #5fdd9d;
$negative  : #ea526f;
$info      : #7692ff;
$warning   : #ffd449;
